.App {
  text-align: center;
}

.App-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.App-mode, .App-where {
  display: inline-block; 
  padding: 10px;
  margin: 10px auto;
  margin-right: 0.25rem;
  transition: all 0.4s
}

.App-mode:hover, .App-where:hover {
  background-color: darkorange;
}

.App-mode .dark, .App-where .dark {
  color: white;
  margin: 0;
  padding: 0;
}

.App-mode .light, .App-where .light {
  color: black;
  margin: 0;
  padding: 0;
}

.App-mode:hover p, .App-where:hover p {
  color: white;
}

.App-header {
  transition: background-color 0.2s;
}

.App-header p {
  transition: all 0.4s;
}

.App-header.dark {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(80px + 2vmin);
  color: white;
}

.App-header.light {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(80px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-loading {
  position: absolute;
  bottom: 0;
  right: 0;
}

.App-loading .visibilityNo {
  transition: all 0.5s;
  opacity: 0;
}

.App-loading .visibilityYes {
  transition: all 0.5s;
  opacity: 1;
}

p {
  cursor: pointer;
}